.div1{
    width: 1320px;
    height: 600px;
    background-image: url(Banner-image.png);
    margin:60px auto;
    position: relative;
    border-radius:15px;
    }
.div11{
    width:632px;
    height:246px;
    margin:177px 344px;
    position:absolute;

     }
.div111{
   width: 259px;
   height:40px;
   padding:0px 186.5px 16px 186.5px;
   text-align: center;
   align-items: center;;
   color:white;
   font-size:32px;
   font-weight: 400;
   font-family: 'Merriweather'"

}
.div112{
    width:632px;
    height:246px;
    margin-bottom:0px;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather';
    line-height:96px;
    align-items:center;
    text-align: center;
    color:white;

    
}
.lig1{
    width: 1320px;
    height: 600px;
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius:15px;
}
/*complete the div1 part*/
.div2{
    background-color:white;
    width:802.5px;
    height: 806px;
    margin:60px auto;

}
.div21{
    width:383px;
    height:107px;
    background-color:white ;
    padding:0px 209.75px 48px 209.75px;
    font-size:88px;
    font-weight:700;
    font-family:'Inter';
    text-align: center;
    color:#F00;
}
.div22{
    width:802.5px;
    height:651px;
    background-color:white;
    margin-bottom: 0px;
    background-image: url(New\ Year\ Photo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}
.div221{
   /* width:383px;*/
    height:103px;
    background-color:white;
}
.div2211{
    width:410px;
    height:29x;
    background-color:white;
    padding:0px 196.25px 0px 196.25px;

    color:#F00;
    font-family: Inter;
    font-size: 24px;
    font-weight:500px;


}
.div2212{
    width:410px;
    height: 57px;
    background-color: white;
    padding:0px 196.25px 0px 196.25px;
    text-align: center;
    font-family: Inter;
    font-size:48px;
    font-weight: 700;
    margin-top:16px
}
/* 2nd div complete *//*২য় টির কাজ সারা */
.div3{
    margin:60px auto;
    width:1310px;
    height: 600px;
    background-image: url(Vectorrr.png);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.lig3{
    width:1310px;
    height: 600px;
    display:flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius:15px;

}
.div31{
    width:850px;
    height:600px;
}
.div32{
    width:319.84px;
    height:464.664px;
    margin-top:68.11px ;
    margin-right:  138px;
    margin-bottom: 67.73px ;
    background-image: url(Group\ 70.png);
}
.div311{
    width:662px;
    height:176px;
    margin-top: 126px;
    margin-left:126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;

}
.div312{
    width:697px;
    height:60px;
    margin-top: 24px;
    margin-left: 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}
.div313{
    width:103px;
    height:24px;
    margin-top: 48px;
    margin-left: 158px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    
}
/*div3 uncomplete*/
.div4{
    margin:60px auto;
    width: 1320px;
    height: 482px;
    background:linear-gradient( 180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius:15px;

}
.div41{
    width: 549px;
    height: 168px;
    padding: 100px 386px 0px 385px;
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}
.div41 span{
    color: rgb(7, 2, 17);
}
.div42{
    width: 167px;
    height: 56px;
    margin:48px 577px 110px 576px;
    background-color:rgb(255, 0, 0);
    border-radius: 5px;
    text-align:center;
    position:relative;
}
.div421{
    width: 103px;
    height: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: red;
    position:absolute;
    margin:16px 32px 16px 32px ;
}
/*div 4 complete*/